name: Tests

on:
  pull_request:
  push:
    branches: [master]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]
        os: [ubuntu-latest]
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v2

      - name: Cache conda
        uses: actions/cache@v2
        with:
          path: ~/conda_pkgs_dir
          key: conda-py3.9-xenso
      - uses: conda-incubator/setup-miniconda@v2
        with:
          channels: conda-forge
          channel-priority: strict
          mamba-version: "*"
          activate-environment: xenso-env
          auto-update-conda: false
          python-version: 3.9
          use-only-tar-bz2: true
      - name: Install dependencies Python ${{ matrix.python-version }}
        run: |
          mamba install --yes --file requirements.txt --file requirements-dev.txt
      - name: Install the Package
        run: |
          python -m pip install -e . --no-deps --force-reinstall
      - name: Version info
        run: |
          conda info -a
          conda list
      - name: Run tests
        run: |
          pytest --cov=./ --cov-report=xml
      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v1.0.15
        with:
          file: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: false
